body {
    margin: 0;
}

.navbar {
    width: 100%;
    overflow: auto;
    background-color: black;
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 100%;
        li {
            float: right;
          }
    } 
}

.logo img {
    position: absolute;
    height: 46.4px;
    width: 170px;
    margin: 0;
} 

nav a {
    margin: 0 2rem;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    text-align: center;
}

.company-info {
    width: 95%;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
}

.team-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin: auto;
    gap: 10px;
   & .team-picture {
        flex: 1;

        & img {
            width: 80%;
            border-radius: 10%;
            height: 20rem;
            box-shadow: 10px 5px 5px black;
        }
    }
    & .team-text {
        font-family: sans-serif;
        flex: 1;
    }
}

.vd-title {
    width: 95%;
    display: flex;
    justify-content: flex-end;
    font-family: sans-serif;
}

.contact-vd {
    width: 95%;
    display: flex;
    justify-content: flex-end;
    &.contact-vd a {
        text-decoration: none;
        color: black;
    }
}


.vd-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin: auto;
    gap: 10px;
    & .vd-picture {
        display: flex;
        justify-content: flex-end;
        flex: 1;

        & img {
             border-radius: 10%;
            width: 70%;
            height: 20rem;
            box-shadow: 10px 5px 5px black;
        }
    }
    & .vd-text {
        font-family: sans-serif;
        flex: 1;
    }
}


.contact-us {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

form {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    padding: 20px;
    & .form-container {
        padding: 20px;
        width: 100%;
        background-color: gray;  
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    & input[type=text]{
        width: 24rem;
        padding: 8px;
    }
    & input[type=mail] {
        width: 24rem;
        padding: 8px;
    }
    & textarea {
        width: 25rem;
    }
    & button {
        margin-top: 5px;
        border: 0;
        width: 25rem;
        padding: 8px;
        border-radius: 5px;
    }
    
}

@media screen and (max-width: 568px)
{
  .logo img {
      display: none;
  }
}

@media screen and (max-width: 447px)
{
  li {
      float:none;
  }
}